[package]
name = "arbiter-contracts"
version = "0.0.1"
edition = "2021"

[dependencies]
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"

[dev-dependencies]
jsonschema = "0.37.1"
